<script src="../assets/js/pages/ui/dialogs.js"></script>
<script src="../assets/vendor/sweetalert/sweetalert.min.js"></script><!-- SweetAlert Plugin Js -->
<script src="../assets/js/sweetalert/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="../assets/js/sweetalert/scriptSweetAlert2.js"></script>

<div class="container-fluid">

    <div class="row clearfix">
        <div class="col-lg-12">

            <div class="card">
                <div class="header">
                    <h2>Kioscos turno</h2>


                    <ul class="header-dropdown dropdown dropdown-animated scale-left">

                        <li> <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="pulse"><i
                                    class="icon-refresh"></i></a></li>
                        <li><a href="javascript:void(0);" class="full-screen"><i class="icon-size-fullscreen"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another Action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div style="margin-bottom: 10px;" ;class="dt-buttons"><a href=" /kiosco/add"
                            class="btn btn-sm btn-primary" title="">Crear Kiosco</a></div>
                    <div class="table-responsive check-all-parent">
                        <table class="table table-hover m-b-0 c_list">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="fancy-checkbox">
                                            <input class="check-all" type="checkbox" name="checkbox">
                                            <span></span>
                                        </label>
                                    </th>
                                    <th>Nombre</th>
                                    <th>Dirección URL</th>
                                    <th>Descripción</th>
                                    <th>Accción</th>
                                </tr>
                            </thead>

                            <tbody>



                                <div>
                                    {{#each notes}}
                                    <tr>
                                        <td style="width: 50px;">
                                            <label class="fancy-checkbox">
                                                <input class="checkbox-tick" type="checkbox" name="checkbox">
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <img src="../assets/images/kioscos/avatar2.jpg"
                                                class="rounded-circle avatar" alt="">
                                            <p class="c_name">{{title}}</a>
                                            </p>
                                        </td>
                                        <td>
                                            <span class="phone"><i
                                                    class="zmdi zmdi-phone m-r-10"></i>264-625-2583</span>
                                        </td>

                                        <td>
                                            <address><i class="zmdi zmdi-pin"></i>
                                                {{description}}
                                            </address>
                                        </td>

                                        <td>
                                            <a href="/kiosco/edit/{{_id}}"><button type="button" class="btn btn-info"
                                                    title="Edit"><i class="fa fa-edit"></i></button></a>
                                            <form style="width: 10%;display: contents;"
                                                action="/kiosco/delete/{{_id}}?_method=DELETE" method="post">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button data-type="confirm" class="btn btn-danger js-sweetalert"
                                                    title="Delete" type="submit"><i class="fa fa-trash-o"></i></button>
                                            </form>
                                        </td>

                                    </tr>
                                </div>

                                {{else}}

                                <div class="card mx-auto">
                                    <div class="card-body">
                                        <h1>Bienvenido </h1>
                                        <p class="lead">No hay kioscos creados</p>

                                    </div>
                                </div>

                                {{/each}}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>